<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <title>Web Demo with Flsk</title>
  </head>
  <body>
    <div class="header">
      <h1>Web Demo with Flask</h1>
    </div>
    <div class="bodyContainer">
      <div class="leftContainer">
        <div class="blankContainer">
        </div>
        <div class="langContainer">
          <label for="dropdown">Select language:</label>
          <select id="dropdown" name="dropdown">
              <option value="en">English</option>
              <option value="ko">한국어</option>
              <option value="option3">Placeholder2</option>
          </select>
        </div>
        <div class="userContainer">
          <h3>{{user_id}}</h3>
        </div>
      </div>
      <div class="rightContainer">
        <div class="outputContainer">
          <div id="outputField"></div>
          <div id="loadingText" style="display: none;">Loading...</div>
        </div>
        <div class="inputContainer">
          <form id="inputForm">
              <input type="text" id="inputField" name="inputField" required>
              <button type="submit" id="submitBtn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
      $(document).ready(function () {
          $('#inputForm').submit(function (e) {
              e.preventDefault();

              var userInput = $('#inputField').val();  // get input value
              var selectedModel = $('#dropdown').val();
              
              var outlist = document.querySelector('#outputField');
              // display loading text
              $('#loadingText').show();
              outlist.scrollTop = outlist.scrollHeight;
              // disable submit button
              $('#submitBtn').prop('disabled', true);
              $.ajax({
                  type: 'POST',
                  url: '/process',
                  data: { inputField: userInput, dropdown: selectedModel},
                  success: function (output) {
                      var content = '<p><strong>User:</strong> ' + userInput + '</p>' +
                          '<p><strong>AI:</strong> ' + output + '</p>' +
                          '<hr>';
                      $('#outputField').append(content);  // append content
                      $('#inputField').val('');  // clear input field
                  },
                  complete: function() {
                      // hide loading text
                      $('#loadingText').hide();
                      // submit button active
                      $('#submitBtn').prop('disabled', false);
                      outlist.scrollTop = outlist.scrollHeight;
                  }
              });
          });
      });
  </script>
</html>
